{% extends "learnit/base.html" %}
{% block content %}
{% load static %}
{% load thumbnail %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2></h2>
                <div class="page_link">
                    <a href="index.html">{{ article.subject }}</a>
                    <a href="contact.html">{{ article.title }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="courses_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>{{ article.title }}</h2>
            <p>Өөрт буй боломжоо яг одоо ашигла.</p>
        </div>
        {% thumbnail article.cover "1200x450" crop="center" as im %}<img src="{{ im.url }}" alt="{{ im.url }}" />
        {% endthumbnail %}
        <div class="section-top-border">
        <p>{{ article.body }}</p>
        </div>
    </div>
</section>
{% endblock %}