{% extends "learnit/base.html %"}
{% block content %}
{% load static %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2></h2>
                <div class="page_link">
                    <a href="index.html">Нүүр</a>
                    <a href="contact.html">{{ article.title }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="courses_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Сүүлд орсон хичээлүүд</h2>
            <p>Өөрт буй боломжоо яг одоо ашигла.</p>
        </div>
        <div class="row courses_inner">
            <div class="col-lg-9">
                <div class="grid_inner">
                {{ article.title }} <br>
                {{ article.class_number }}  <br>   
                {{ article.get_absolute_url }}  <br>                    
                {{ article.body }} <br>
                {{ article.cover }} <br>

                {% comment %} {% for article in articles %}
                    <div class="grid_item wd55">
                        <div class="courses_item">
                            <img src="{% static 'content/img/courses/course-1.jpg' %}" alt="">
                            <div class="hover_text">
                                <a href="{{ article.get_absolute_url }}"><h4>{{ article.title }}</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-user"></i>{{ article.class_number }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %} {% endcomment %}
            </div>
        </div>
    </div>
</section>
{% endblock %}